{% extends "bands/base.html" %}

{% block rockband_page_contents %}
<h1>All Bands</h1>
<ul>
{% for band in bands %}
  <li>
    <h2><a href="{{ band.get_url }}">{{ band.name }}</a></h2>
    {% if band.can_rock %}<p>This band can rock!</p>{% endif %}
  </li>
{% endfor %}
{% if is_paginated %}
    <p>Showing bands {{ page_obj.start_index }} to {{ page_obj.end_index }}
        out of {{ bands.count }} bands in total</p>
    {% if page_obj.has_previous %}
        <p>Last Page: <a href="?page={{ page_obj.previous_page_number }}">
            {{ page_obj.previous_page_number }}</a></p>
    {% endif %}
    {% if page_obj.has_next %}
        <p>Next Page: <a href="?page={{ page_obj.next_page_number }}">
            {{ page_obj.next_page_number }}</a></p>
    {% endif %}
{% else %}
    <p>Showing all {{ bands.count }} bands
{% endif %}
</ul>
{% endblock %}